.grid {
    display: flex;
    flex: 1 0 30%;
    justify-content: center;
    align-items: center;    
    border: 1px solid var(--intermediate-background);
    font-family: 'KgHappySolid';
}

.grid__input {
    width: 50%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    font-size: inherit;
    font-family: inherit;
    text-align: center;
}