.homepage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-background);
  color: var(--primary-text);
  font-family: 'KgHappy';
  font-size: var(--font-large); 
  transition: background-color .1s linear; 
}

.theme-buttons {
  width: 60%;
  justify-content: left;
  padding: 0 20px;
}

.theme-buttons > button {
  margin: 0px 5px;
  padding: 5px 5px;
  font: inherit;
  font-family: 'KgHappySolid';
  font-size: var(--font-smallest);
  cursor: pointer;  
}

.theme-buttons--dark {
  color: #fff;
  background-color: #4e4e50;
  border: 2px solid #1a1a1d;
  box-shadow: var(--intermediate-background) 0px 1px 2px 0px, var(--primary-background) 0px 2px 6px 2px;
}

.theme-buttons--dark:hover,
.theme-buttons--dark:active {
  background-color: #1a1a1d;
}

.theme-buttons--light {
  color: #1a1a1d;
  background-color: #fff;
  border: 2px solid #1a1a1d;
  box-shadow: var(--intermediate-background) 0px 1px 2px 0px, var(--primary-background) 0px 2px 6px 2px;
}

.theme-buttons--light:hover,
.theme-buttons--light:active {
  background-color: #F5F5DC;
}

.homepage__header {
  margin: 20px 0 0;
}

.homepage__warning {
  margin-top: 0;
  font: inherit;
  font-size: var(--font-small);
  color: var(--intermediate-text);
  visibility: hidden;
  opacity: 0;
  line-height: 0px;
  transition: line-height 0.5s linear, opacity 0.5s ease;
}

.homepage__warning--active {
  margin-top: 10px;
  visibility: visible;
  line-height: inherit;
  opacity: 1;
}

.sudoku-board {    
  height: 500px;
  width: 500px;
}

.sudoku-board__play-area {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--secondary-background);
  color: var(--secondary-text);
  border-radius: 10px;
}

.sudoku-board__box-rows {
  display: flex;
  align-items: center;  
  justify-content: space-between;      
  height: 100%;
}

.buttons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.buttons > button {
  margin: 20px 10px;
  padding: 5px 10px;
  font: inherit;
  font-size: var(--font-medium);
  cursor: pointer;
  color: var(--secondary-text);
  background-color: var(--intermediate-border);
  border: 2px solid var(--intermediate-border);
  box-shadow: var(--intermediate-background) 0px 1px 2px 0px, var(--primary-background) 0px 2px 6px 2px;    
}

.buttons > button:hover,
.buttons > button:active {
  background-color: var(--primary-text);
}